.header {
  font-family: "Montserrat", "Poppins", sans-serif;
  background: var(--color-bg);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  border-bottom: 1px solid var(--color-border);
  padding: 1rem 0;
}

/* Container interno */
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  cursor: pointer;
}

.logo img {
  width: 4.375rem;
  height: 4.375rem;
}

/* NAV - Desktop */
.desktop-nav {
  display: flex;
  gap: 1.25rem;
}

.desktop-nav a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
}

.desktop-nav a:hover {
  color: var(--color-primary);
}

/* Toggle */
.toggle-area {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.active {
  color: var(--color-primary);
  font-weight: 600;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 0.25rem;
}

/* BUTTON MOBILE */
.menu-btn {
  display: none;
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;
}

/* ------------------------------ */
/* MOBILE */
/* ------------------------------ */

@media (max-width: 550px) {
  .logo {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

/* Mobile dropdown */
.mobile-menu {
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  animation: dropdown 0.25s ease;
  padding: 0 32px;
}

.mobile-link {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 1px solid var(--color-border);
}

.mobile-link:hover {
  background: var(--color-bg-soft);
}

/* Animation */
@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
