.switch {
  position: relative;
  display: inline-block;
  width: 3.375rem;
  height: 1.75rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--color-border);
  border-radius: 2.5rem;
  transition: 0.3s ease;
  border: 0.125rem solid var(--color-bg-soft);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  left: 0.25rem;
  bottom: 0.1875rem;
  background-color: var(--color-bg-soft);
  border-radius: 50%;
  transition: 0.3s ease;
}

input:checked + .slider {
  background: var(--color-bg-soft);
}

input:checked + .slider:before {
  transform: translateX(1.625rem);
  background: white;
}

.switch:hover .slider {
  border-color: var(--color-bg-soft-light);
}
